html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.main-page {
  max-width: 500px;
  width: 90%;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  min-width: 120px; /* To ensure buttons are not too small */
  padding: 10px 20px; /* Adequate padding for buttons */
  width: auto; /* Adjusts width based on content and padding */
}
