<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data.GenreName }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <mat-card>
      <mat-card-header class="genre-card-header">
        <mat-card-title>{{ data.GenreName }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="genre-card-content">
        <p>{{ data.Description }}</p>
      </mat-card-content>
    </mat-card>
  </body>
</html>
