<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data.Name }}</title>
  </head>
  <body>
    <mat-card>
      <mat-card-header class="genre-card-header">
        <mat-card-title>{{ data.Name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="genre-card-content">
        <p>Born: {{ data.BirthDate | date : "MMM. d, yyyy" }}</p>
        <p>{{ data.Bio }}</p>
      </mat-card-content>
    </mat-card>
  </body>
</html>
